

body
{
     height: 200px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, red , yellow); /* Standard syntax (must be last) */

}
.container
{
	display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

a
{
	text-align:right;
}
h1
{
	font-size: 3em;
	border-bottom: 2px solid grey;
	border-right: 2px solid grey;
	width: 350px;
	text-align: center;
	-moz-box-shadow:4px 4px 4px #8888880;
	-ms-box-shadow:4px 4px 4px #8888880;
	-webkit-box-shadow:4px 4px 4px #8888880;
	-o-box-shadow:4px 4px 4px #8888880;
	box-shadow: 4px 4px 4px #8888880;
	margin-top: 10px;
	<!-->

}

img
{
	width: 450px;
	height: 300px;
	margin: 10px;
	transition: all 1s;
}
img:hover
{
	transform: scale(1.1);
}